/* BEGIN (write your solution here) */
@font-face {
  font-weight: 400;
  font-family: Rubik;
  src: url("Rubik-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Rubik;
  src: url("Rubik-Bold.ttf");
}

/* END */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  /* BEGIN (write your solution here) */
  color: #fff;
  font: 16px/1 Rubik, sans-serif;

  background: #e5e5e5;

  /* END */
}

/* BEGIN (write your solution here) */
.calendar {
  width: 250px;
  padding: 60px 60px 30px;

  background-color: #1e1f25;
  border-radius: 12px;
}

.calendar-header {
  margin: 0;
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.calendar-date {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 20px;

  font-size: 14px;
  line-height: 2;

  border-bottom: 1px solid #313131;
}

.calendar-date tbody {
  color: #ccc;
  text-align: center;
}

.calendar-date td {
  padding: 0;

  line-height: 2.3;

  cursor: pointer;
}

.rounded-green {
  color: #fff;

  background-color: #589c5f;
  border-radius: 100%;
}

.todo-name {
  margin: 5px 0 20px;

  font-size: 14px;
}

.todo-time {
  color: #ccc;
  font-size: 10px;
}

.calendar-todo {
  padding: 0;

  list-style: none;
}

/* END */
